@media only screen and (min-width: 1080px){
    :root{
        --mobile: 0;
    }
    
    nav{
        grid-column: 2;
    }
    
    #content{
        display: block;
        grid-column: 1;
    }

    #letters{
        display: grid;
    }
}