#add_button{
    height: 100%;
    border-style: none;
    background-color: rgba(0, 0, 0, 0);
    color: none;
    padding: 0;
    margin: 0;
    margin-left: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#add_icon{
    font-size: 50px;
    margin: 0;
    padding: 0;
    border-style: none;
    transition: transform 0.2s;
    fill: white;
}

#add_icon:hover{
    transform: scale(1.2);
}

.sort_button{
    border-style: none;
    border-bottom-style: solid;
    border-color: white;
    background-color: rgba(0, 0, 0, 0);
}

#sort_container{
    border-style: none;
    height: 35px;
    display: flex;
    flex-direction: row;
    padding-top: 4px;
}

#sort_container > label{
    margin-right: 10px;
}

#sort_selection{
    border-style: none;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

#sort_selection:hover > #sort_button_2{
    display: block;
}

#sort_button_selected{
    font-size: 1.1em;
    cursor: pointer;
}

#sort_button_2{
    display: none;
    font-size: 0.8em;
    cursor: pointer;
    border-bottom-style: none;
    margin-top: 3px;
}

#search_bar{
    background-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: white;
    margin-right: 30px;
}

#search_bar::placeholder{
    color: rgb(236, 236, 236);
}

#search_bar:focus{
    outline: none;
}

#letters{
    height: 50px;
    width: 400px;
    border-style: none;
    display: none;
    grid-template-columns: repeat(13, 1fr);
}

#letters > button{
    background-color: rgba(0, 0, 0, 0);
    border-style: none;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 0.9em;
    cursor: pointer;
    transition: transform 0.2s;
}

#letters > button:hover{
    transform: scale(1.3);
}

.contentBox{
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: var(--color-dark-text);
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 40px;
    width: 100%;
}

.tableBox{
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: var(--color-dark-text);
    padding-top: 20px;
    width: 100%;
}

.centerBox{
    width: 70%;
    margin: auto;
    margin-top: 0;
}

.formHeader{
    text-align: center;
}
.contacHeader{
    text-align: left;
}

.formItem > label{
    color: var(--color-dark-text);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 0.7em;
}

.textInput{
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 2px;
    border-color: var(--color-dark-text);
    border-radius: 5px;
    color: var(--color-dark-text);
    height: 20px;
}

.contentItemLong{
    grid-column: span 2;
}

.textInput:focus{
    outline: none;
}

.notesArea{
    resize: none;
    height: 100px;
}

.submitButton{
    background-color: rgba(0, 0, 0, 0);
    border-radius: 8px;
    border-style: solid;
    border-color: var(--color-dark-text);
    color: var(--color-dark-text);
    cursor: pointer;
}

.navItem{
    border-bottom-style: solid;
    border-color: var(--color-dark-text);
    border-width: 1px;
    margin-left: 20px;
    margin-right: 20px;

    user-select: none; /* Standard syntax */
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For Internet Explorer/Edge */
}

.navItem:hover{
    background-color: rgba(255, 255, 255, 0.082);
    cursor: pointer;
}

.navItem:hover > h2{
    color: var(--color-dark-text-highlight);
}